*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
fuel/app/logs/*/*/*
fuel/app/cache/*/*
nbproject/
.idea*
modules/smartoptimizer/cache/*
company/pdf_files/*
tmp/*
.ht*
.git*
.gitignore
.idea/vcs.xml
settings.jar
