#CC {
	background-color: #FFF;
	display:          none;
	margin:           0;
	padding:          0;
	position:         absolute;
	z-index:          100;
}

#CC .current {
	background-color: #6495ab;
	border:           1px solid #339;
	color:            #FFF;
}

#CC .empty {
	background-color: #ecf4fd;
	border:           1px solid #FFF;
}

#CC .header {
	background-color: #6495ab;
}

#CC .next {
	text-align: right;
}

#CC .previous a, #CC .next a {
	color:           #FFF;
	font-weight:     700;
	text-decoration: none;
}

#CC .previous, #CC .next {
	font-size: 1.4em;
	padding:   1px 3px;
}

#CC .title {
	color:       #FFF;
	font-weight: 700;
	text-align:  center;
}

#CC .weekday {
	background-color: #f3f9fe;
	color:            #000;
}

#CC .weekday, #CC .weekend, #CC .current {
	border:          1px solid #FFF;
	display:         block;
	text-decoration: none;
	width:           2em;
}

#CC .weekday:hover, #CC .weekend:hover, #CC .current:hover {
	background-color: #6495ab;
	border:           1px solid #999;
	color:            #FFF;
}

#CC .weekend {
	background-color: #FFC;
	color:            #000;
}

#CC .weekno {
	background-color: #c9def9;
	color:            #333;
}

#CC table {
	border-left:  1px solid #336;
	border-right: 1px solid #336;
	font-family:  arial, verdana, helvetica, sans-serif;
	font-size:    8pt;
}

#CC td {
	text-align: center;
}

#CC th {
	font-weight: 400;
	text-align:  center;
}

#CC th a {
	color:           #FFF;
	font-weight:     400;
	padding:         1px;
	text-decoration: none;
}

#CCIframe {
	display:  none;
	height:   250px;
	left:     0;
	position: absolute;
	top:      0;
	width:    270px;
	z-index:  99;
}

#_tabs {
	float:   left;
	margin:  0;
	padding: 3px 0;
}

#_tabs li a {
	background:      #888 url(images/corner.gif) no-repeat top right;
	color:           #fff;
	font-weight:     700;
	margin-right:    0;
	padding:         4px 16px;
	text-decoration: none;
}

#_tabs li a.current {
	background: #8ab9f2 url(images/corner.gif) no-repeat top right;
	color:      #2F637A;
	padding:    6px 16px;
}

#_tabs li a:hover {
	background: #6495AB url(images/corner.gif) no-repeat top right;
	color:      #fff;
}

#content {
	border: 1px solid #8ab9f2;
	margin: 5px auto;
	width:  60%;
}

#content, #wrapper {
	background: none;
	border:     none;
	width:      95%;
}

#footer {
	background: #fff;
	border-top: 1px solid #ccc;
	clear:      left;
	color:      gray;
	margin-top: 5px;
	padding:    5px 15px;
}

#footer .power {
	background: #fff url(images/news.gif) no-repeat center left;
	color:      gray;
	font-size:  1em;
	padding:    0 12px;
}

#hints {
	background-color: #FFFFE0;
	border:           1px solid #8cacbb;
	border-bottom:    1px solid #8cacbb;
	font-size:        13px;
	margin:           -4px -2px -2px;
	padding:          5px;
	white-space:      nowrap;
}

#loginscreen {
	background: #f5f5f5;
}

#logo {
	margin: 0 0 10px;
}

#slogan {
	background: #fff;
	color:      gray;
	font-size:  0.9em;
	margin:     0 0 10px 2px;
	padding:    0;
}

#title {
	border:        none;
	margin-bottom: 10px;
	width:         100%;
}

#top {
	background: #fff;
	color:      gray;
	float:      right;
	margin:     16px 5px 0 0;
	text-align: right;
}

#top li a {
	padding:         0 0 0 16px;
	text-decoration: none;
}

#top li, #_tabs li {
	display:    inline;
	list-style: none;
	margin:     0;
}

#top p {
	margin: 0;
}

#top ul {
	margin: 5px 0 0;
}

#wrapper {
	clear:      left;
	color:      #000;
	margin:     0 0 5px;
	padding:    8px 5px;
	text-align: center;
}

#wrapper li .empty {
	font-size: 12px;
	padding:   0 0 0 20px;
}

#wrapper li a.left {
	background-image:    url(images/bullet.png);
	background-position: center left;
	background-repeat:   no-repeat;
	font-size:           12px;
	padding:             0 0 0 20px;
}

#wrapper li a.right {
	background-image:    url(images/bullet.png);
	background-position: center right;
	background-repeat:   no-repeat;
	font-size:           12px;
	padding:             0 20px;
}

.amount {
	font-family: Verdana, Arial, Helvetica;
	font-size:   11px;
	text-align:  right;
}

.button {
	font:    bold 1em Arial, Sans-Serif;
	padding: 4px;
}

.currencybg {
	background-color: #e88;
}

.currentfg {
	color: #f66;
}

.editbutton {
	background-color: transparent;
	border-style:     none;
	color:            #00f;
	cursor:           pointer;
	text-decoration:  underline;
}

.errortext {
	color:       red;
	font-size:   13px;
	font-weight: 700;
}



.headingtext {
	color:       #333;
	font-size:   13px;
	font-weight: 700;
}

.headingtext2 {
	color:     #000;
	font-size: 13px;
}

.headingtext3 {
	color:       #000;
	font-size:   10px;
	font-weight: 700;
}

.inactive {
	color: gray;
}

.inputsubmit, .ajaxsubmit {
	background-color: #ecf4fd;
	border:           1px #06c solid;
	font-size:        11px;
	padding:          1px 4px;
}

.inquirybg {
	background-color: #fdfeef;
}

.label {
	background-color: #ecf4fd;
	color:            #000;
}

.listsubmit {
	display: none;
}

.login {
	background-color: #eee;
	border-collapse:  collapse;
	border-left:      12px solid #367cb5;
	width:            350px;
}

.menu_group {
	background-color: #95bff3;
	color:            #333;
	font-size:        13px;
	font-weight:      700;
	padding:          0 0 0 3px;
}

.menu_group_items {
	background-color: #f3f9fe;
	border:           1px solid #8cacbb;
	font-weight:      400;
	padding:          9px;
}

.navibar {
	background-color: #f69f20;
	border:           1px solid #8cacbb;
	border-collapse:  collapse;
	color:            #333;
	padding:          0 3px;
}

.navibutton span {
	text-decoration: underline;
}

.navibutton[disabled], .navibutton[disabled] span {
	color:           gray;
	cursor:          auto;
	text-decoration: none;
}

.oddrow {
	background-color: #f3f9fe;
}

.overduebg {
	background-color: #f68691;
}

.overduefg {
	color: #f68691;
}

.redfg {
	color:       red;
	font-weight: 700;
}

.settledbg {
	background-color: #0b0;
}

.settledfg {
	color: #0b0;
}

.stockmankobg {
	background-color: #FFC0CB;
}

.tableheader {
	background-color: #f69f20;
	color:            #333;
	font-weight:      700;
	text-align:       center;
}

.tableheader2 {
	background-color: #f69f20;
	color:            #333;
	font-weight:      700;
	text-align:       left;
}

.tableseparator {
	border-left: 1px solid #446;
}

.tablestyle_noborder {
	padding: 3px;
}

.titletext {
	border-bottom: 1px solid #8cacbb;
	color:         #333;
	font-size:     13px;
	font-weight:   700;
	padding:       5px;
}

.titletext, .bottomBar, .footer, #_page_body {
	margin: 0 auto;
}

`
#footer .date {
	color:     gray;
	font-size: 1em;
	padding:   0 12px;
}

a {
	background:      inherit;
	color:           #2F637A;
	text-decoration: none;
}

a:active {
	color:           #000;
	text-decoration: none;
}

a:hover, a:focus {
	background: inherit;
	color:      gray;
}

body {
	background:  none;
	color:       #454545;
	font:        .7em Tahoma, Arial, sans-serif;
	line-height: 1.7em;
	margin:      0;
	padding:     5px 0 0;
}

button {
	border:    1px #06c solid;
	font-size: 11px;
	padding:   1px 0;
}

button img, span {
	padding:        0 2px;
	vertical-align: middle;
}

button.navibutton {
	background-color: transparent;
	border-style:     none;
	color:            #333;
	cursor:           pointer;
	font-family:      Tahoma, Arial, sans-serif;
	font-size:        11px;
	font-weight:      700;
	padding:          0 3px;
}

canvas {
	cursor:   crosshair;
	position: fixed;
	top:      0;
	z-index:  2;
}

div#content {
	position: relative;
	z-index:  3;
}

div.contentBox {
	border: 1px solid #8cacbb;
	margin: 0 3px 3px;
}

div.err_msg {
	background-color: #fcc;
	border:           1px solid #c30;
	color:            #d20;
	margin:           10px;
	padding:          3px;
	text-align:       center;
}

div.note_msg {
	background-color: #cfc;
	border:           1px solid #3c0;
	color:            #070;
	margin:           10px;
	padding:          3px;
	text-align:       center;
}

div.spaceBox {
	background-color: #8cacbb;
	border-bottom:    1px solid #8cacbb;
	border-left:      1px solid #8cacbb;
	border-right:     1px solid #8cacbb;
	height:           8px;
	margin:           0 3px;
}

div.warn_msg {
	background-color: #ff0;
	border:           1px solid #f90;
	color:            #f50;
	margin:           10px;
	padding:          3px;
	text-align:       center;
}

h1 {
	font:           bold 2.2em Arial, Sans-Serif;
	letter-spacing: -1px;
	margin:         0;
	padding:        10px 0 0;
}

h1 a, h2 a {
	background:      inherit;
	color:           #000;
	text-decoration: none;
}

h2 {
	font:           bold 1.8em Arial, Sans-Serif;
	letter-spacing: -1px;
	margin:         0;
	padding:        0;
}

hr {
	background: #ccc;
	border:     0;
	color:      #ccc;
	height:     1px;
}

iframe {
	border: none;
}

img {
	border: 0;
}

input, select {
	font-size: 11px;
	padding:   1px;
}

input.amount {
	border-right:  none;
	padding-right: 0;
}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}

p {
	margin: 10px 0 0;
}

select {
	max-width: 200px;
}

table, #CC .previous {
	text-align: left;
}

table.tablestyle, table.tablestyle td {
	border:          1px solid #e1e1e1;
	border-collapse: collapse;
}

table.tablestyle2, table.tablestyle2 td, .login td {
	border:          1px solid #ccc;
	border-collapse: collapse;
}

table.tablestyle_inner, table.tablestyle_inner td {
	border:          1px solid #f9f9f9;
	border-collapse: collapse;
}

textarea {
	font-size: 12px;
}

tr, td, th {
	font-size:   11px;
	line-height: 19px;
}

ul {
	list-style: none;
	margin:     0;
	padding:    0;
}

ul.ajaxtabs {
	font:        12px Tahoma, Verdana;
	font-weight: 700;
	margin:      3px 3px 0;
	padding:     3px 0 0;
}

ul.ajaxtabs li {
	display:    inline;
	list-style: none;
	margin:     0;
}

ul.ajaxtabs li button {
	background-color: #dee7ec;
	border-bottom:    none;
	border-left:      none;
	border-right:     1px solid #8cacbb;
	border-top:       1px solid #8cacbb;
	font-weight:      700;
	margin:           0;
	padding:          3px 8px;
}

ul.ajaxtabs li button.current, ul.ajaxtabs li button.current:hover {
	background-color: #8cacbb;
	border-left:      1px solid #8cacbb;
	color:            #FFF;
}

ul.ajaxtabs li button:hover {
	border-top: 1px solid #8cacbb;
	color:      #FFF;
}