#_tabs2 {
  background: -webkit-gradient(linear, 100% 19%, 100% 71%, from(#858585), to(#9e9e9e), color-stop(0, #c7c7c7));
  background: -moz-linear-gradient(19% 100% 90deg, #858585, #9e9e9e, #c7c7c7 71%);
  border-top: 2px solid #939393;
  position: relative;
  ul {
    &.menu li {
      text-align: center;
      background: -webkit-gradient(linear, 100% 100%, 100% 0%, from(#1b9c52), to(#49c46e), color-stop(0.5, #43e85e));
      background: -moz-linear-gradient(100% 100% 90deg, #1b9c52, #43e85e, #49c46e 100%); }
    a {
      background: -webkit-gradient(linear, 100% 19%, 100% 71%, from(#858585), to(#9e9e9e), color-stop(0, #c7c7c7));
      background: -moz-linear-gradient(19% 100% 90deg, #858585, #9e9e9e, #c7c7c7 71%);
      &:hover {
        background: -webkit-gradient(linear, 100% 100%, 100% 0%, from(#1b9c52), to(#49c46e), color-stop(0.5, #43e85e));
        background: -moz-linear-gradient(100% 100% 90deg, #1b9c52, #43e85e, #49c46e 100%); } }
    li.active a {
      background: -webkit-gradient(linear, 100% 100%, 100% 0%, from(#1b9c52), to(#49c46e), color-stop(0.5, #43e85e));
      background: -moz-linear-gradient(100% 100% 90deg, #1b9c52, #43e85e, #49c46e 100%);
      color: white; } } }

.menu_group {
  background: -moz-linear-gradient(center top, #80fe80, #62bb46) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(center top, #80fe80, #62bb46) repeat scroll 0 0 transparent;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  background-image: -moz-linear-gradient(center top, #80fe80, #62bb46);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #80fe80), color-stop(1, #62bb46));
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#80FE80,endColorstr=#62BB46,GradientType=1);
  border: 1px solid #7096AB;
  box-shadow: none; }

#wrapper, #results {
  width: 100%;
  background: white url(images/wrapbg2.gif) repeat-x; }
