#_tabs2 {
	text-align: center;
	width: 100%;
	height: 80px;
	background: #464646;
	background: -webkit-gradient(linear, 100% 19%, 100% 71%, from(rgba(133, 133, 133, 1)), to(rgba(158, 158, 158, 1)), color-stop(0, #C7C7C7));
	background-image: -moz-linear-gradient(19% 100% 90deg, rgba(133, 133, 133, 1), rgba(158, 158, 158, 1), rgba(199, 199, 199, 1) 71%);
	border-top: 2px solid #939393;
	position: relative;
	margin-bottom: 30px;
}

#_tabs2 .title {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 15px;
	text-transform: uppercase;
}

#_tabs2 .fl {
	float: left;
}

#_tabs2 .menu_container {

	margin: 0 auto;
	display: inline-block;
}

#_tabs2 .menu {
	height: 80px;
	border-left: 1px solid rgba(0, 0, 0, 0.3);
	border-right: 1px solid rgba(255, 255, 255, 0.3);
	margin: 0 auto;
}

#_tabs2 a {
	text-decoration: none;
	color: #363636;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

#_tabs2 ul {
	margin: 0;
	padding: 0;
}

#_tabs2 ul.menu li {
	list-style: none;
	float: left;
	height: 79px;
	text-align: center;
}

#_tabs2  ul  a {
	background-image: -webkit-gradient(linear, 100% 19%, 100% 71%, from(rgba(133, 133, 133, 1)), to(rgba(158, 158, 158, 1)), color-stop(0, #C7C7C7));
	background-image: -moz-linear-gradient(19% 100% 90deg, rgba(133, 133, 133, 1), rgba(158, 158, 158, 1), rgba(199, 199, 199, 1) 71%);
	background: transparent;
	-moz-transition-duration: 0.5s;
	-moz-transition-timing-function: linear;
	display: block;
	padding: 0 10px;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
	line-height: 79px;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: linear;
	/*    -moz-transition-property: opacity;
		-moz-transition-duration: 1s;*/
}

#_tabs2 ul  a:hover {
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: linear;
	background-image: -webkit-gradient(linear, 100% 100%, 100% 0%, from(#192E9C), to(#5CADFF), color-stop(.5, #4E6AD9));
	background-image: -moz-linear-gradient(100% 100% 90deg, rgba(25, 46, 156, 1), rgba(92, 173, 255, 1), rgba(78, 106, 217, 1) 100%);
	color: white;
}

#_tabs2 ul li.active a {
	background-image: -webkit-gradient(linear, 100% 100%, 100% 0%, from(#192E9C), to(#5CADFF), color-stop(.5, #4E6AD9));
	background-image: -moz-linear-gradient(100% 100% 90deg, rgba(25, 46, 156, 1), rgba(92, 173, 255, 1), rgba(78, 106, 217, 1) 100%);

	color: white;
}

/*
#_tabs{ padding: 3px 0; margin: 0; float: left; }
#_tabs li{ list-style: none; display: inline; margin: 0; }
#_tabs li a{
	text-decoration: none;
	padding: 4px 16px;
	margin-right: 0px;
	background: #888 url(images/corner.gif) no-repeat top right;
	font-weight: bold;
	color: #fff;
}
#_tabs li a:hover{
	background: #6495AB url(images/corner.gif) no-repeat top right;
	color: #fff;
}
#_tabs li a.current{
	background: #8ab9f2 url(images/corner.gif) no-repeat top right;
	color: #2F637A;
	padding: 6px 16px;
}
*/
/* main wrapper */
#wrapper {
	clear: left;
	width: 100%;
	background: #fff url(images/wrapbg.gif) repeat-x;
	border: 1px solid #8ab9f2;
	padding: 8px 5px;
	margin: 0 0 5px 0;
	color: #000;
}
