html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

body {
    font: 13px/1.231 sans-serif;
    *font-size: small;
}

select, input, textarea, button {
    font: 99% sans-serif;
}

pre, code, kbd, samp {
    font-family: monospace, sans-serif;
}

body, select, input, textarea {
    color: #444444;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

html {
    overflow-y: scroll;
}

a:hover, a:active {
    outline: none;
}

a, a:active, a:visited {
    color: #607890;
}

a:hover {
    color: #036;
}

ul, ol {
    margin-left: 1.8em;
}

ol {
    list-style-type: decimal;
}

nav ul, nav li {
    margin: 0;
}

small {
    font-size: 85%;
}

strong, th {
    font-weight: bold;
}

td, td img {
    vertical-align: top;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

pre {
    padding: 15px;
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

textarea {
    overflow: auto;
}

.ie6 legend, .ie7 legend {
    margin-left: -7px;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] {
    vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
    vertical-align: baseline;
}

.ie6 input {
    vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
    cursor: pointer;
}

input:valid, textarea:valid {
}

input:invalid, textarea:invalid {
    border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red;
    -webkit-box-shadow: 0px 0px 5px red;
    box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
    background-color: #f0dddd;
}

::-moz-selection {
    background: #FF5E99;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #FF5E99;
    color: #fff;
    text-shadow: none;
}

a:link {
    -webkit-tap-highlight-color: #FF5E99;
}

button {
    width: auto;
    overflow: visible;
}

.ie7 img {
    -ms-interpolation-mode: bicubic;
}

.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

.hidden {
    display: none;
    visibility: hidden;
}

.visuallyhidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.invisible {
    visibility: hidden;
}

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

@media all and (orientation:portrait) {
}

@media all and (orientation:landscape) {
}

@media screen and (max-device-width: 480px) {
}

@media print {
    * {
        background: transparent !important;
        color: #444 !important;
        text-shadow: none !important;
    }

    a, a:visited {
        color: #444 !important;
        text-decoration: underline;
    }

    a:after {
        content: " (" attr(href) ")";
    }

    abbr:after {
        content: " (" attr(title) ")";
    }

    .ir a:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    @page {
        margin: 0.5cm;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}

div {
    white-space: break-wrap;
    word-wrap: break-word;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 10px;
}

ol, ul {
    list-style: none;
    list-style-type: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

form {
    display: inline;
}

:focus {
    outline: 0;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

pre, br {
    white-space: pre-wrap;
    margin: 0;
    padding: 0;
}

body {
    font: 11px Verdana;
    line-height: 1;
    background: #999 url(//images.advancedroadsigns.com.au/template&image=template/site-background.jpg);
    text-align: center;
}

textarea, input {
    color: #000;
    font: 12px Verdana;
}

.pricecolor {
    font: bold 11px Verdana;
}

.smalltext {
    font: 10px Verdana;
}

a.carttext:hover {
    font: 10px Verdana;
    text-decoration: underline;
}

.colors_backgroundlight {
    background: #bedfff;
}

.colors_backgroundlight_dark {
    background: #acf;
}

.bold {
    font-weight: 700;
}

.colors_lines {
    background: #000;
}

td.colors_lines {
    background: #FFF;
}

.colors_productprice {
    color: #c00;
}

#wrapper {
    text-align: center;
    width: 90%;
    max-width: 1600px;
    overflow: visible !important;
    margin: 0 auto;
}

#wrapper3 {
    clear: both;
    display: inline-block;
    max-width: 100%;
    min-width: 960px;
    background: #FFF;
}

#maincontent {
    display: inline-block;
    overflow: visible !important;
}

header, #header .no-js {
    color: #393939;
    display: block;
    height: 63px;
    min-width: 960px;
    text-align: left;
    vertical-align: top;
    background: url(//images.advancedroadsigns.com.au/template&image=template/header_bg.gif) repeat-x left top;
    overflow: hidden !important;
}

.ie6 {
    display: inline-block;
}

header .logolink {
    display: block;
    font: bold 11px Arial;
    height: 63px;
    background: url(//images.advancedroadsigns.com.au/template&image=template/header_bg.gif) repeat-x left top;
    float: left;
}

#navbar, #header-bar {
    margin-top: 1px;
    font: 600 16px "Myriad Pro";
    height: 24px;
    text-align: center;
    text-decoration: none;
    background: url(//images.advancedroadsigns.com.au/template&image=template/menu-bg.gif);
}

div#header-bar {
    text-wrap: none;
}

#navBarText {
    line-height: 150%;
    display: block;
}

div#navbar {
    margin: 8px 0 2px;
}

#navbar ul {
    display: inline-block;
    height: 19px;
    position: relative;
    margin: 0;
    padding: 0 0 0 30px;
}

#navbar li {
    display: inline;
    line-height: 18px;
    margin-right: -3px;
    padding-left: 15px;
    text-align: center;
    vertical-align: middle;
    background: none no-repeat left;
}

#navbar a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

#navbar a:hover {
    color: #F63;
    text-decoration: none;
}

#navbar li:first-child, #header li:first-child {
    margin-right: 0;
    padding-left: 0;
    background: none;
}

#navbar li:last-child, #header li:last-child {
    margin-right: 10px;
}

#wrapmiddle {
    float: right;
    margin-left: 210px;
    background: #FFF;
    overflow: visible !important;
}

#index ul {
    list-style-position: outside;
    list-style-image: none;
}

#index li {
    font-size: 14px;
    padding-left: 60px;
    padding-top: 10px;
    vertical-align: middle;
    min-height: 50px;
    background-image: url(//www.advancedroadsigns.com.au/v/vspfiles/photos/T5-5-2T.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}

#index h1 {
    margin: 35px 0;
    text-align: center;
    font: 600 22px "Myriad Pro";
}

#middle, #left {
    min-height: 2000px;
}

#middle {
    overflow: visible !important;
    min-width: 750px;
    padding: 5px;
    text-align: left;
    background: #FFF;
}

#volusion_ssl_seal {
    behavior: url(/a/iepngfix.htc);
}

#header-right {
    display: block;
    float: right;
    height: 19px;
    text-align: right;
    vertical-align: top;
    background: url(//images.advancedroadsigns.com.au/template&image=template/header_bg.gif) repeat-x left top;
}

#header-right img {
    vertical-align: top;
    float: left;
}

.ie6 #header-right img, .ie7 #header-right img {
    left: 2px;
}

#header-right a {
    color: #000;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    text-decoration: none;
    vertical-align: middle;
}

#header-right a:hover {
    color: #03B;
    text-decoration: underline;
}

header p, #header p .no-js {
    display: block;
    width: 230px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    text-align: center;
    padding: 5px 20px 0;
    float: right;
    clear: right;
    word-wrap: normal;
}

#header-right ul {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: thin;
    display: inline-block;
    height: 19px;
    position: relative;
    background: #FFF;
    margin: 0;
    padding: 0 0 0 10px;
}

#header-right li {
    display: inline;
    padding-left: 15px;
    text-align: center;
    vertical-align: middle;
    background: url(//images.advancedroadsigns.com.au/template&image=template/angle_break.gif) no-repeat left;
}

#search {
    display: block;
    height: 24px;
}

#search fieldset {
    border: none;
    padding: 0;
    margin: 0;
    float: right;
    text-align: left;;
}

#search input {
    font-size: 14px;
    padding-left: 5px;
    display: inline-block;
    width: 130px;
    margin: 0 0 0 10px;
    border-top-width: thin;
    border-top-style: solid;
    border-top-color: black;
    border-left-width: thin;
    border-left-style: solid;
    border-left-color: black;
    vertical-align: baseline;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 1px 1px 0 #fff;
    -webkit-box-shadow: 2px 2px 0 #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
    background: -moz-linear-gradient(top, #ffffff, #efefef);
}

#search button {
    height: 22px;
    vertical-align: baseline;
    font-size: 14px;
    margin-right: 5px;
}

.ie7 #search button, .ie6 #search button {
    padding: 1px 9px 0;
}

#search button:active {
    position: relative;
    top: 1px;
}

#searchpanel {
    margin-bottom: 4px;
    text-align: center;
    background: url(//images.advancedroadsigns.com.au/template&image=template/panel-bg.png) repeat-x left top;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.no-js #searchpanel {
    display: none;
}

#searchpanel-content {
    width: 780px;
    height: 210px;
    margin: 0 auto;
    font-weight: bold;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: none;
    background: transparent url(//images.advancedroadsigns.com.au/template&image=template/searchpanel.png) no-repeat top center;
}

#searchpanel-content .title {
    width: 250px;
    display: block;
    left: -15px;
    position: relative;
}

#searchpanel-content h1 {
    color: #FFF;
    height: 22px;
    font-size: 14px;
    line-height: 19px;
    display: inline-block;
}

#searchpanel-content .tick {
    word-wrap: normal;
    position: absolute;
    text-decoration: none;
    font-size: 11px;
    color: #f5deb3;
    width: 35px;
    height: 27px;
    padding-left: 35px;
    background: transparent url(//images.advancedroadsigns.com.au/template&image=template/tick.png) no-repeat -5px;
    cursor: pointer;
    z-index: 2;
    top: -10%;
    left: 70%;
}

#searchpanel-content ul {
    padding: 0;
    vertical-align: top;
}

#searchpanel-content li {
    display: block;
    cursor: pointer;
    margin: 5px;
    border: black solid thin;
}

#sign-header, #sign-material {
    height: 180px;
    width: 240px;
}

#sign-header li {
    height: 50px;
    width: 50px;
    border-radius: 2px 2px 0 0;
}

#sign-header :first-child li {
    height: 30px;
    width: 100px;
}

#sign-header .rec li {
    height: 30px;
    width: 100px;
}

#sign-size {
    height: 180px;
    width: 280px;
}

#signsize-amount {
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

#selectedsize span {
    display: block;
    overflow: hidden;
    position: relative;
    border: black solid thin;
    background-color: white;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}

#options_table tr {
    margin-bottom: 5px;
}

.signsize0, .signsize1, .signsize0_L, .signsize1_L {
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.signsize2, .signsize3, .signsize2_L, .signsize3_L {
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.signsize4, .signsize5, .signsize4_L, .signsize5_L {
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.signsize0 {
    height: 25px;
    width: 30px;
}

.signsize1 {
    height: 30px;
    width: 45px;
}

.signsize2 {
    height: 45px;
    width: 60px;
}

.signsize3 {
    height: 60px;
    width: 90px;
}

.signsize4 {
    height: 90px;
    width: 120px;
}

.signsize0_L {
    margin-top: 50px;
    width: 25px;
    height: 30px;
}

.signsize1_L {
    margin-top: 42px;
    width: 30px;
    height: 45px;
}

.signsize2_L {
    margin-top: 35px;
    width: 45px;
    height: 60px;
}

.signsize3_L {
    margin-top: 20px;
    width: 60px;
    height: 90px;
}

.signsize4_L {
    margin-top: 5px;
    width: 90px;
    height: 120px;
}

#selectedsize {
    height: 145px;
}

#signsize-slider {
    display: block;
    margin: 0 auto 0;
    width: 200px;
    height: .8em;
}

#sign-material {
    display: block;
    height: 150px;
    width: 250px;
}

#sign-material ul {
    height: 140px;
}

#sign-material ul li, #sign-material ul li:active {
    background: url(//images.advancedroadsigns.com.au/template&image=template/nav-menu.gif) -15px 0;
    height: 22px;
    width: 70%;
    border-radius: 1px 1px 0;
    padding: 0 10px;
    font: bold 12px Arial;
    line-height: 22px;
    text-align: left;
    color: #fff;
}

#sign-material ul li:hover {
    background: url(//images.advancedroadsigns.com.au/template&image=template/nav-menu.gif) -15px -22px;
}

.ie6 #sign-material ul li {
    height: 12px;
    font: bold 12px/12px Arial;
}

#sign-search {
    height: 24px;
    width: 250px;
}

#sign-search #search fieldset {
    float: left;
}

#searchpanel-text {
    height: 24px;
    font: normal normal 16px/normal 'Myriad Pro';
    margin: 0;
}

#searchpanel-text p {
    height: 24px;
    line-height: 24px;
    font-weight: bold;
    font-size: 15px;
}

#left {
    float: left;
    margin-right: -210px;
    right: 210px;
    height: 100%;
}

#Header_ProductDetail_ProductDetails {
    padding: 4px;
}

#left, #left nav, #left div, #left table {
    width: 210px;
}

#left .nav {
    background: url(//images.advancedroadsigns.com.au/template&image=template/nav-menu.gif);
    height: 22px;
    width: 100%;
    font: bold 12px Arial;
    line-height: 22px;
    text-align: left;
    color: #fff;
}

#left td img {
    display: none;
}

#left nav h4, #left h4, #left nav h1 {
    margin: 0;
    padding: 4px 0;
    font: bold 16px Myriad Pro;
    color: #000;
    background-size: 100%;
    text-align: center;
    background: #fc0 url(//images.advancedroadsigns.com.au/template&image=template/nav-title-bg.gif) repeat-x;
}

#left a {
    text-decoration: none;
    white-space: nowrap;
    margin-left: 22px;
    color: #FFF
}

#left .subnav {
    background: url(//images.advancedroadsigns.com.au/template&image=template/nav-menu.gif) 0 -44px;
    color: #fff;
}

#left .nav:hover, #left .subnav:hover {
    background: url(//images.advancedroadsigns.com.au/template&image=template/nav-menu.gif) 0 -22px;
}

#left .nav:hover a, #left .subnav:hover a {
    cursor: pointer;
}

#left a.nav_selected, #left a:active {
    color: #fc0;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 22px;
}

#footer a, #navlink a, #footer a:hover, #navlink a:hover {
    color: #fff;
    font: 10px Verdana;
    text-decoration: none;
}

#footer a:hover, #navlink a:hover {
    font-weight: 700;
    text-decoration: underline;
}

#footer, #navlink {
    clear: both;
    color: #fff;
    font: 10px Verdana;
    text-align: center;
    text-decoration: none;
    background: #05B;
}

#navlink {
    margin-left: 210px;
    background: #009;
}

#navlink a {
    margin: 0 30px;
}

#footer-bottomleft {
    float: left;
    width: 210px;
    margin: 5px;
}

a.navtitle:hover {
    font: 16px Verdana, arial, sans-serif;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.center {
    text-align: center;
}

.left {
    float: left;
    display: inline-block;
}

.middle {
    margin: 0 auto;
}

.right {
    display: inline-block;
    float: right;
}

.margin5 {
    margin: 5px;
}

.margin20 {
    margin: 0 20px;
}

.margin33 {
    margin: 0 33%;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-right-40 {
    margin-right: 40px;
}

.width33 {
    width: 30%;
}

#ProductDetail_ProductDetails_div p {
    margin: 10px;
    font-size: 12px;
    line-height: 14px;
}

ins, a.productnamecolor:hover, a.productnamecolorsmall:hover, a.navspecials:hover, a.nav1:hover, a.nav1_selected:hover, a.nav2:hover, a.nav2_selected:hover, a.nav3:hover, a.nav3_selected:hover {
    text-decoration: none;
}

.bgcolor1 {
    font: bold 11px Arial;
}

a.productnamecolorlarge:hover {
    font: bold 14px Verdana;
    text-decoration: none;
}

.productnamecolor, a.productnamecolor, a.pricecolor:hover {
    font: bold 11px Verdana;
    text-decoration: none;
}

.productnamecolorsmall, .pricecolorsmall {
    font: bold 10px Verdana;
}

a.productnamecolorsmall, a.pricecolorsmall:hover {
    font: bold 10px Verdana;
    text-decoration: none;
}

a.regularlink:hover, a.navbottom:hover {
    text-decoration: underline;
}

a.smalltext, a.smalltext:hover, .carttext, a.carttext {
    font: 10px Verdana;
    text-decoration: none;
}

.colors_background_main, .colors_pricebox {
    background-color: #FFF;
}

.colors_background1, #left, #footer, #wrapper3 {
    background: #05b;
}

tr.colors_background1, a.colors_background2_text:hover, .colors_background2_text, a.colors_background3_text:hover, {
    color: #fff;
}

.colors_backgroundneutral, .colors_descriptionbox {
    background: #eee
}

.colors_productname, a.colors_productname:hover {
    color: #05B;
}

.colors_background3 {
    background-color: #009;
}

.colors_background3_text h1 {
    margin: 3px;
}

.colors_background_head {
    background-color: #FC0;
}

.colors_backgroundlight {
    background-color: #BEDFFF;
}

.colors_backgroundlight_dark {
    background-color: #ACF;
}

.colors_backgroundneutral {
    background-color: #EEE;
    line-height: 16px;
    margin: 2px auto;
    text-indent: 10px;
}

.colors_backgroundneutral_dark {
    background-color: #CCC;
}

.colors_descriptionbox {
    background-color: #EEE;
}

.colors_highlight {
    background-color: #FB0;
}

.colors_lines {
    background-color: #000;
}

.colors_lines_light {
    background-color: #CCC;
    margin: 0 auto;
    padding: 3px;
}

.colors_menutitle {
    background-color: #FF0;
}

.colors_menutitletext {
    color: #000;
}

.colors_productprice {
    color: #C00;
}

a.colors_text:hover, .colors_text, a.colors_text:hover, .colors_text {
    color: #393939;
}

.colors_background1, .colors_background2 {
    background-color: #05B;
}

.colors_background1_text, a.colors_background2_text:hover, .colors_background2_text, a.colors_background3_text:hover, .colors_background3_text {
    color: #FFF;
}

.colors_links, a.colors_links:hover {
    color: #03B;
}

#tiptip_holder {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

#tiptip_holder.tip_top {
    padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
    padding-top: 5px;
}

#tiptip_holder.tip_right {
    padding-left: 5px;
}

#tiptip_holder.tip_left {
    padding-right: 5px;
}

#tiptip_content {
    font-size: 11px;
    color: #000;
    text-shadow: 0 0 1px #BBB;
    padding: 4px 8px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 3px #555;
    -webkit-box-shadow: 0 0 3px #555;
    -moz-box-shadow: 0 0 3px #555;
}

.ie7 #tiptip_content, .ie6 #tiptip_content {
    background-color: #FFF;
}

#tiptip_arrow, #tiptip_arrow_inner {
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
    height: 0;
    width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
    border-top-color: #fff;
    border-top-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
    border-bottom-color: #fff;
    border-bottom-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
    border-right-color: #fff;
    border-right-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
    border-left-color: #fff;
    border-left-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
    margin-top: -7px;
    margin-left: -6px;
    border-top-color: rgb(255, 255, 255);
    border-top-color: rgba(255, 255, 255, 0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
    margin-top: -5px;
    margin-left: -6px;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-color: rgba(255, 255, 255, 0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -5px;
    border-right-color: rgb(255, 255, 255);
    border-right-color: rgba(255, 255, 255, 0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -7px;
    border-left-color: rgb(255, 255, 255);
    border-left-color: rgba(255, 255, 255, 0.92);
}

.ie7 ##tiptip_holder.tip_top #tiptip_arrow, .ie6 ##tiptip_holder.tip_top #tiptip_arrow {
    background-color: #FFF;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #tiptip_content {
        padding: 4px 8px 5px 8px;
        background-color: rgba(255, 255, 255, 0.95);
    }

    #tiptip_holder.tip_bottom #tiptip_arrow_inner {
        border-bottom-color: rgba(255, 255, 255, 0.88);
    }

    #tiptip_holder.tip_top #tiptip_arrow_inner {
        border-top-color: rgba(255, 255, 255, 0.92);
    }
}

.ui-helper-hidden {
    display: none;
}

.ui-helper-clearfix {
    display: block;
}

.ui-widget {
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 1.2em;
}

.ui-widget-content {
    border: 1px solid #dddddd;
    background: #f1f9fd url(//images.advancedroadsigns.com.au/template&image=template/ui-bg_inset-soft_100_335beb_1x100.png) 50% top repeat-x;
    color: #362b36;
}

.ui-widget-content a {
    color: #362b36;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    border: 1px solid #dddddd;
    background: #ff99cc url(//images.advancedroadsigns.com.au/template&image=template/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;
    font-weight: bold;
    color: #333333;
}

.ui-state-hover a:hover {
    color: #f4f06c;
    text-decoration: none;
}

.ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity = 35);
    background-image: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #dddddd;
    background: #ff99cc url(//images.advancedroadsigns.com.au/template&image=template/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;
    font-weight: bold;
    color: #333333;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #333333;
    text-decoration: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #4297d7;
    background: #009900 url(//images.advancedroadsigns.com.au/template&image=template/ui-bg_highlight-soft_60_4ca20b_1x100.png) 50% 50% repeat;
    font-weight: bold;
    color: #f4f06c;
}

.ui-state-hover a, .ui-state-hover a:hover {
    color: #f4f06c;
    text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #2694e8;
    background: #009900 url(//images.advancedroadsigns.com.au/template&image=template/ui-bg_highlight-soft_60_4ca20b_1x100.png) 50% 50% repeat;
    font-weight: bold;
    color: #ffffff;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #ffffff;
    text-decoration: none;
}

.ui-widget :active {
    outline: none;
}

.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(//images.advancedroadsigns.com.au/template&image=template/ui-icons_72a7cf_256x240.png);
}

.ui-corner-all {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.ui-widget-overlay {
    background: #2b2922 url(//images.advancedroadsigns.com.au/template&image=template/ui-bg_diamond_50_2b2922_10x8.png) 50% 50% repeat;
    opacity: .80;
    filter: Alpha(Opacity = 80);
}

.ui-button-text-icons .ui-button-text {
    padding: .4em 2.1em .4em 1em;
}

.ui-button-text-icons .ui-button-text {
    padding-left: 2.1em;
    padding-right: 2.1em;
}

.ui-button-icon-only .ui-icon {
    left: 50%;
    margin-left: -8px;
}

.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
    right: .5em;
}

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
    padding: 0;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}

.ui-slider-horizontal {
    height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.ui-tabs .ui-tabs-nav li a {
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}

.ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}

.ui-progressbar {
    height: 2em;
    text-align: left;
}

.ui-progressbar .ui-progressbar-value {
    margin: -1px;
    height: 100%;
}

.ie7 .ui-widget-content, .ie7 .ui-accordion-content {
    zoom: 1;
}